
 
.contenedor{
    display: flex;
    background-image: url("/assets/pixlr-bg-result.png");
    background-position:center;
background-repeat: no-repeat;
background-position: center;

    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 900px;
}

.pergamino{

    height:fit-content;
    padding-left:400px;
    padding-right:400px;
}

.dialogo {
    font-style: italic;
}

#nombreDelHeroe{
display: none;
}

#nombreDelHeroeVisible{
    display:inline;
    }