*{
    background-color: beige;
}

*{
    background-image:url("/assets/pixlr-bg-result.png") ;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px;
    background-attachment: fixed;
}

#titulo{

text-align: center;
overflow: hidden;
animation: slow 2s ease forwards;
width: 100%;
margin: 90px;
}




/*Fuente medieval */
h1 { font-family: MedievalSharp; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } h3 { font-family: MedievalSharp; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: MedievalSharp; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } blockquote { font-family: MedievalSharp; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: MedievalSharp; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }